* {
  margin: 5px;
  padding: 5px;
  box-sizing: border-box;
}

body {
  background-color: #000000;
}


.botonn {

  display: flex;
  justify-content: center;
  background-color: rgba(62, 139, 255, 0.384);
  border-radius: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 90px;
  border: none;
  margin: auto;
  margin-top: 3px;


}

.row {
  border-radius: 5px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: rgb(245, 78, 0);

}

.boton2{

  display: flex;
  justify-content: center;
  background-color: rgba(62, 139, 255, 0.384);
  border-radius: 15px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  width: 90px;
  border: none;
  margin: auto;
  margin-top: 35px;
}